streamlit==1.33.0
sentence-transformers==2.7.0
transformers==4.40.0
huggingface-hub==0.20.3
torch==2.2.2
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
requests==2.31.0
Flask==2.3.2
setuptools==58.0.4
beautifulsoup4
spacy
